
/*import fonts from fonts.css file*/
@import url(./fonts.css);
/*css variables*/
@import url(./partials/_variables.css);
/*import global styling*/
@import url(./partials/_globle.css);


/*Start navigation*/

	.header_area .main-menu .navbar .navbar-brand{
		padding: 0 2rem 0 5rem;
	}
	.header_area .main-menu .navbar{
		padding: 1rem 20rem;
	}

	.header_area .main-menu .nav-item .nav-link{
		font: normal 500 15px/2px var(--roboto);
		text-transform:uppercase;
		padding: 1.7rem;
		color: var(--title-color)
	}
	

.header_area .main-menu .navbar .active a{
	background: var(--gradient-color);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip: text;
}



.header_area .main-menu .navbar a:hover{
	background: var(--gradient-color);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip: text;
}

/*End navigation*/

/* Banner Area */
.site-banner{
	background:url(../img/banner/home-banner.png) no-repeat 0% 50%;
} 
.site-banner .site-title h3{
	padding-top: 35%;
	font-weight: 500;
}
.site-banner .site-title h3::after{
	content: "";
	height: 2px;
	width: 18vw;
	background: black;
	display: inline-block;
	margin-left: 5%;
	transform:translateY(-10px);

}
.site-banner .site-title h1{
	font-size: 5rem;
}
.site-banner .site-title h4{
	font-size: 1.5rem;
}
.site-banner .banner-image>img{
padding:7rem 0;
width: 90rem;
}
/*End Banner Area*/

/*Start About Area*/

.about-area{
	  padding: 8rem 5rem;
}
.about-area .about-title h2> span{
	display: block;
	font: normal bold 49px/60px var(--roboto);
	letter-spacing: 21px;
}
.about-area .about-title .paragraph > p{
	padding: .4rem 0;
}
/*End About Area*/

/*Start Brand Area*/
.site-main .brand-area{
	padding: 1rem 20rem;
	margin-bottom: 4rem;
}

.brand-area .first-row .col-lg-4{
	display: flex;
	justify-content: center;
}
.brand-area .first-row .col-lg-4 > .single-brand{
 border: 1px solid var(--border-color);
 text-align: center;
 padding: 1.8rem 0rem;
 margin: .9rem 0;
 width: 180px;
 height: 100px;
 cursor: pointer;
 transform: transform.4s ease;
}
.brand-area .first-row .col-lg-4 > .single-brand > img{
	width: 50%;
}
/*End Brand Area*/

